export(clrCall)
export(clrCallStatic)
export(clrGet)
export(clrGetEnumNames)
export(clrGetExtPtr)
export(clrGetFields)
export(clrGetInnerPkgName)
export(clrGetLoadedAssemblies)
export(clrGetMemberSignature)
export(clrGetMethods)
export(clrGetNativeLibName)
export(clrGetProperties)
export(clrGetStaticFields)
export(clrGetStaticMemberSignature)
export(clrGetStaticMembers)
export(clrGetStaticMethods)
export(clrGetStaticProperties)
export(clrGetType)
export(clrGetTypesInAssembly)
export(clrLoadAssembly)
export(clrNew)
export(clrReflect)
export(clrSet)
export(clrSetEnumProperty)
export(clrShutdown)
export(clrToString)
export(clrTraceback)
export(clrTypeNameExtPtr)
export(clrTypename)
export(clrVT)
export(getClrVersionString)
export(getNativeLibsPath)
export(getSexpType)
export(inspectArgs)
export(rToClrType)
export(setClrRefClass)
export(setRDotNet)
import(methods)
